<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanju Baba's Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.js">
    <link rel="stylesheet" href="../static/phone.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/Logo/unnamed.png" alt="">
                SBDA
            </div>
            <li> <a href="/">Home</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">Services</a></li>
            <li> <a href="#">Class Info</a></li>
            <li> <a href="/ContactUs.hbs">Contact Us</a></li>
        </ul>
    </nav>
    <section id="introSection">
        Welcome To Sanju Baba's Dance Academy
        <div class="small">
            Eat Sleep Dance Repeat
        </div>
    </section>

    <section id="missionSection">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/Logo/logo7.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance The Way You Like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/Logo/img6.png" alt="">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/Logo/img5.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe</p>
                </div>
            </div>
    </section>

    <section id="sponsorsSection">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <img src="../static/Logo/logo1.jpg" alt="Sponsors Image" , class="spImage">
            <img src="../static/Logo/logo3.jpg" alt="Sponsors Image" , class="spImage">
            <img src="../static/Logo/logo4.png" alt="Sponsors Image" , class="spImage">
            <img src="../static/Logo/logo2.png" alt="Sponsors Image" , class="spImage">
        </div>
    </section>

    <footer id="footer">
        Copyright &copy; 2021 SanjuBabaDanceAcademy.com | All rights reserved
    </footer>

</body>

</html>